* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "marugo";
    src: url("/fonts/marugo.ttf") format('truetype');


}

/*ここから*/

#header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: .3s;
}

#header {
    background: #fce38a;
    padding: 10px 0 3px;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}

.wrap {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

#header #logo {
    float: left;
    font-size: 24px;
}

#header #logo a {
    color: #383838;
}

#header #logo img {
    height: 40px;
}

#header-right {
    float: right;
    overflow: hidden;
}

#header #header-nav {
    float: left;
    margin-right: 40px;
}

#header #header-nav li {
    display: inline-block;
    margin-left: 40px;
    font-size: 14px;
    line-height: 40px;
}

#header #header-nav li a {
    color: #666;
}

#header form {
    float: left;
    width: 250px;
}

#gnav {
    margin-top: -1px;
    background: #fff;
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
    font-size: 14px;
    background-color: #fff;
    overflow: hidden;
}

#gnav ul {
    margin: 0;
    padding: 0;
}

#gnav li {
    float: left;
    position: relative;
    padding: 0 34px 0 0;
}

#gnav li a {
    display: block;
    border-top: 1px #efefef solid;
    margin-top: -1px;
    padding: 14px 0px;
    line-height: 1;
    color: #2B2D2D;
    background: #fff;
    text-decoration: none;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

ol, li {
    list-style: none;
}


/*ここまでヘッダー*/


a.scroll {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding-top: 60px;
    letter-spacing: .1em;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: opacity .3s;
}

span.scroll {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.section {
    text-align: center;
    font-family: "marugo";
}


.toptitle {
    font-size: 48px;
    border-bottom: 5px #fce38a solid;
    width: 290px;
    margin: 0 auto;
}

.topdescription {
    width: 450px;
    font-size: 12px;
    margin: 70px auto 0;
}

.scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 30px;
    padding: 0 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.left {
    display: inline-block;
    width: 300px;
    float: left;
}

.logo {
    margin: 0 20px 20px;
}

.btn {
    background-color: #fce38a;
    border: 1px solid #fce38a;
    padding: 5px 60px;
    margin: 10px 0;
    text-decoration: none;
    color: #000;
    font-family: "marugo";
    border-radius: 10px;
}

.right {
    float: left;
    display: table-cell;
    vertical-align: middle;
}

.subtitle {
    font-size: 20px;
    margin: 50px 0 20px;
    width: 300px;
}

.description {
    font-size: 14px;
    width: 300px;
}


.section_wrraper {
    display: inline-block;
}

.section2 {
    overflow: hidden;
    width: 800px;
    height: 400px;
    background-size: cover;
    margin-top: 100px;
}

.filter {
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
}

.in {
    display: inline-block;
}

.footer_wrapper{
    height: 100%;
    background-color: #fff;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 385px;
    background-color: #fce38a;
    color: #1E252C;
}

/*ここから*/

#footer .wrap {
    padding: 30px 0;
}

.footer-02 aside {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.footer-02 .footer-copy {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
}

#footer-left {
    overflow: hidden;
    float: left;
}

#footer-left div {
    float: left;
}

#footer-left li.widget {
    padding: 0 120px 0 0;
}

.widgettitle {
    font-size: 16px;
    font-weight: bold;
}

.widget_recent_entries a, .widget_archive a, .widget_categories a, .widget_meta a, .widget_views a, .widget_pages a {
    font-size: 14px;
    color: #5e6265;
    text-decoration: none;
    padding-left: 28px;
    display: block;
    background: url(//insta-antenna.com/wp-content/themes/insta-antenna/lib/images/icon_arw_gry.png?1418372717) left center no-repeat;
    background-size: 16px 16px;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

#footer a {
    color: #1E252C;
    text-decoration: none;
}

#footer-right {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-sns li {
    display: inline-block;
    margin-left: 10px;
}

.fb-widget {
    text-align: right;
    margin-bottom: 60px;
}

.fb-widget iframe {
    width: 340px;
}

.hidden-pc {
    display: none;
}

.footer-logo {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-logo img {
    width: 200px;
}

/*ここまでフッター*/